body{
         font-family: sans-serif;
         font-family: open sans;sans-serif; ;
}
.text-primarycolor{
         color:#fd6e0a;
}
nav{
    display: flex; 
    justify-content: space-between;
    align-items:center ;
    margin:0 200px;
}
.button{
         border-radius: 5px;
         background:#fd6e0a;
         border: 0;
         color:white;
         font-size: 20px;
         font-weight: 700px;
         padding: 15px 35px;
}
.nav title {
         color:#181818
 font-size:45px;
 font-style:normal;
 font-height:800;  
      }
nav>ul{
display: flex;
}
nav li {
         list-style: none;
         margin: 50px;
}
nav a{
         text-decoration: none;
         color: #474747;
}
/*header related style*/
.header{
background-color:#e7e2df;
background-image: url("images/header_bg.png")
background-repeat:none;
}
.banner1{ 
         padding:30px 30px 30px 150px;
         display: flex;
         align-items: center;
}
.banner1.hardyphoto{
         width: 500px;

}